* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.head {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dddddd;
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;
}

.wrapper {
  padding-top: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 9rem;
  height: 4rem;
}
.header__img img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: none;
}
.header__title {
  padding: 0;
  margin: 0;
}
.header__title li {
  list-style: none;
  display: inline-block;
  margin: 0 0.7rem;
}
.header__title li a {
  display: inline-block;
  line-height: 66px;
  text-decoration: none;
  color: #333;
}
.header__title li a:hover {
  color: #04b2f7;
  border-bottom: 4px solid #04b2f7;
}
.header .header__avatar {
  width: 2.5rem;
  height: 2.5rem;
}
.header .header__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card__ver {
  width: 100%;
  margin-bottom: 1rem;
}
.card__ver a {
  width: 100%;
  text-decoration: none;
}
.card__ver a img {
  width: 100%;
  height: width;
}
.card__ver a h1, .card__ver a h2 {
  margin-top: 0.6rem;
  text-align: left;
}
.card__ver a h1 {
  color: #333;
}
.card__ver a h2 {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  cursor: none;
  opacity: 0.8;
}

.card__hor {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.card__hor a {
  text-decoration: none;
}
.card__hor a img {
  width: 100%;
}
.card__hor a h1 {
  color: #333;
  text-align: left;
}
.card__hor a:nth-child(1) {
  width: 30%;
  margin-right: 1rem;
}
.card__hor a:nth-child(2) {
  width: 70%;
}
.card__hor a h2 {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  cursor: none;
  opacity: 0.8;
}

.content {
  margin: 1rem 0;
}

.news__multimedia {
  background-color: #ffde76;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 1rem 0;
}
.news__multimedia ul {
  margin: 0;
}
.news__multimedia ul li {
  padding: 0 1.2rem;
  list-style: none;
  display: inline-block;
}
.news__multimedia ul li a {
  display: inline-block;
  line-height: 4.3rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4.3rem;
}
.media__head {
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
.media__head::before {
  content: "";
  position: absolute;
  width: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}
.media__head-item {
  font-size: 1.6rem;
  font-weight: bold;
}

.book__slide {
  margin-top: 2rem;
}

.news__content {
  margin-top: 2rem;
}
.news__content-item {
  padding-top: 1rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.news__content-item:nth-last-child(1) {
  border: none;
}

.magazine {
  margin-top: 2rem;
  background-color: #eee;
  padding-bottom: 2rem;
}
.magazine__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 27rem;
}
.magazine__img:hover > img {
  transform: scale(1.2);
}
.magazine__img:hover > .title {
  color: #ffde76;
}
.magazine__img:hover > .icon {
  background-color: #ffde76;
}
.magazine__img:hover > .icon i {
  color: #333;
}
.magazine__img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 1s ease;
}
.magazine__img .tag {
  position: absolute;
  top: 0;
  left: calc(50% - 3.8rem);
  width: 8rem;
  height: 2rem;
  background-color: #ffde76;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.magazine__img .tag h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
.magazine__img .crossbar {
  position: absolute;
  top: 50%;
  left: calc(50% - 2rem);
  width: 4rem;
  height: 0.4rem;
  background-color: #ffde76;
}
.magazine__img .title {
  position: absolute;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  top: 55%;
  font-size: 1.4rem;
  font-weight: bold;
}
.magazine__img .icon {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  background-color: #000;
  text-align: center;
  border-radius: 9999px;
}
.magazine__img .icon i {
  color: #ffde76;
  font-size: 1.6rem;
  line-height: 3rem;
}

.footer {
  background-color: #f7f7f7;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
}
.footer__content ul {
  margin: 0;
  padding: 2rem 0;
}
.footer__content ul li:nth-child(1) a img {
  width: 5rem;
  height: 2rem;
}
.footer__content ul li {
  list-style: none;
  margin-bottom: 0.8rem;
}

/* Mobile & Tablet */
@media only screen and (max-width: 64rem) {
  .header__title, .header__avatar {
    display: none;
  }

  .news__head--disable {
    display: none;
  }

  .news__multimedia ul {
    display: none;
  }

  .magazine__img {
    margin-bottom: 1rem;
  }

  .news__head--flex {
    display: flex;
  }

  .header__menu {
    display: block;
    position: relative;
  }
  .header__menu:hover ul {
    display: block;
  }
  .header__menu ul {
    position: absolute;
    display: none;
    top: 30px;
    right: -5px;
  }
  .header__menu i {
    font-size: 1.6rem;
    opacity: 0.7;
  }

  .dropdown-menu li {
    padding: 0.2rem 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }
  .dropdown-menu li:nth-last-child(1) {
    border: none;
  }
}
/* Tablet */
/* Mobile */
@media only screen and (max-width: 46.2rem) {
  .card__hor a h2 {
    display: none;
  }

  .card__hor a h1 {
    font-size: 1rem !important;
  }

  .footer__content {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
